
h4 {
  color : #40a8a7;
  font-size: 25px !important; 
  font-weight: 700 !important;
  font-family: 'Courgette', cursive;
}

h5 {  
  color : rgba(0, 0, 0, 0.989);  
  font-family: 'Lato', sans-serif;
  font-size: 18px !important;  
  font-style: oblique;

}

h5 small {
  font-size:12px !important;
  font-weight: 100;
  font-style: italic;
}


.card-info, .card__meta a {
    color: #3299BB !important;
    display: inline-flex;
    vertical-align: middle;
    line-height: 2;
    font-size: 1rem;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}
.card__date {
    background: #08c;
    position: absolute;
    top: 8px;
    right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
    padding-top: 8px;
}
.card__date__day {
  display: block;
  font-size: 15px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card .card-content .card-title {
    color: #0D8080 !important;
    line-height: 18px;
}

.card .card-title {
    
    font-size: 18px;
    font-weight: 400;
}

.card .card-content p{
  color: #1E1E1E;
  font-size: 13px;
}

.collapsible{
  background: #fff;
}

.card-row {
  margin-bottom: 4px;
    margin-top: 4px;
}
.card-action i {
    vertical-align: text-bottom;
    font-size: 21px;
}



.collapsible-header {
    background-color: #3299BB;
    color: #fff;
}

.filter-container ul {
    padding: 1rem 2rem;
}

.filter-container ul li {
    display: block;
    padding: 16px 0 0;
}

.search-title-filter {
  background-color: #3299BB;
  color: #fff;
}

nav  {
    background-color: #40a8a7;
    border-color: #E7E7E7;
    
}

nav ul>li>a, nav .brand-logo  {
  color: #fff;
}

nav .brand-logo {
  font-size: 1.4em !important;
}

#container {
  padding: 20px 10px;
}


a.action-card-icons {
  padding-right: 10px !important;
  padding-left: 15px !important;
 
}

a.action-card-icons i {
  padding: 0px 5px 0px 5px;
}


.hours {
  padding-top: 15px;
  margin-bottom: -50px !important;
}

.text_obs {
  padding-top: 6px;
}

.text_obs p {
  font-size: 14px !important;
  font-weight: 300;
  font-stretch: condensed;
}